{% extends "template.twig" %}
{% set title = 'Main page' %}
{% set ticketsNumber = data.ticketsCount %}

{% block content %}
    <div class="col-12">
        <h1>{{ title }}</h1>
        <div>
            <h2>
                All tickets:<span class="badge badge-dark">{{ ticketsNumber }}</span>
            </h2>
        </div>
{#        {{ dump(data) }}#}
    </div>
    {% for ticket in data.items %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-primary" role="alert">
{#                    {{  loop.index }}#}
                                {{ (ticket.user_id) }} <br>
                                {{ (ticket.created_at) }} <br>
                                {{ (ticket.text) }} <br>
{#                                {{ dump(ticket) }} <br>#}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}


{#{% set start_year = date() | date('Y') %}#}
{#{% set end_year = start_year + 5000 %}#}
{#{% for year in start_year..end_year %}#}
{#    {{ cycle(['odd', 'even'], loop.index0) }}#}
{#{% endfor %}#}


{#{% set fruits = ['apple', 'orange', 'citrus'] %}#}
{#{% for i in 0..10 %}#}
{#    {{ cycle(fruits, i) }}#}
{#{% endfor %}#}


{#RANGE#}
{#{% for i in range(0, 10, 3) %}#}
{#    {{ i }},#}
{#{% endfor %}#}


{#{% if block("footer") is defined %}#}
{#    ...#}
{#{% endif %}#}


{#{% if block("footer", "common_blocks.twig") is defined %}#}
{#    ...#}
{#{% endif %}#}